@import url(reset.css);
/* ================================= */
body {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* ================================= */

.section-title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}
/* ================================= */

.header {
    background-color: #151515;
}
.header-main {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 45px;
}
.logo {
}
.logo__img {
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
    gap: 35px;
}
.menu__item {
}
.menu__link {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.menu__link:hover {
    text-decoration: underline;
}
.menu__link--active {
    color: #06f;
}
/* ================================= */
.main {
    flex-grow: 1;
}
.top {
    padding-top: 250px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}
.container {
}
.top__title {
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 40px;
}
.top__link {
    font-weight: 700;
    font-size: 36px;
    max-width: 430px;
    display: inline-block;
    background-color: #151515;
    padding: 23px;
    width: 100%;
}

.slider {}
.swiper::after {
    content: '';
    background: rgba(21, 21, 21, .3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.swiper-wrapper {
}
.swiper-slide {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    background-color: #151515;
    opacity: 1;
    border-radius: 0;
    margin: 0 15px !important;
}
.swiper-pagination-bullet-active {
    height: 6px;
    background-color: #fff;
}
.swiper-horizontal>.swiper-pagination-bullets {
    bottom: 50px;
}
/* ================================= */
.why-lease {
    padding: 150px 0;
}
.container {
}
.why-lease__body {
}
.why-lease__menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}
.why-lease__list {
}
.why-lease__item {
    max-width: 270px;
}
.why-lease__img {
    margin-bottom: 30px;
}
.why-lease__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
}
.why-lease__text {
    text-align: left;
}
/* ================================= */
.how-does {
    padding-bottom: 150px;
}
.container {
}
.how-does__body {
    max-width: 600px;
    margin: 0 auto;
}
.how-does__text {
}
.how-does__title {
    font-weight: 700;
    font-size: 24px;
    padding-top: 50px;
}
.how__does-list {
    padding: 50px 0 70px;
    counter-reset: myNumb;
}
.how__does-item::before {
    counter-increment: myNumb;
    content: counter(myNumb);
    display: flex;
    background-color: #30be0d;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    /* bottom: 0; */
} 
.how__does-item {
    max-width: 270px;
    padding: 19px 0 19px 240px;
    box-sizing: content-box;
    position: relative;
    margin-left: auto;
    min-height: 63px;
}
.how__does-item + .how__does-item {
    margin-top: 40px;
}
/* ================================= */
.video {
    padding-bottom: 150px;
}
.container {
}
.video__title {
    margin-bottom: 20px;
}
.video__text {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}
.video__content {
    margin: 0 auto;
    display: block;
}

/* ================================= */

.important {
    padding-bottom: 150px;
}
.container {
}
.important__title {
    margin-bottom: 20px;
}
.important__text {
    max-width: 580px;
    margin: 0 auto 50px;
}
.important__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 40px;
}
.important__item {
    max-width: 270px;
}
.important-item__img {
    margin-bottom: 20px;
}
.impotant-item__text {
}
/* ================================= */

/* ================================= */
/* ============CONTACTS============= */

.contacts {
    padding: 100px 0 150px;
}
.container {
}
.contacts__title {
    margin-bottom: 20px;
}
.contacts__text {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}
.form {
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form__input {
    border: 1px solid #06f;
    display: block;
    padding: 18px 20px;
    margin-bottom: 50px;
    color: #151515;
}
.form__input::placeholder,
.form__textarea::placeholder {
    opacity: 0.5;
    color: #151515;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}
.form__textarea {
    border: 1px solid #06f;
    resize: none;
    width: 100%;
    padding: 28px 20px;
    margin-bottom: 50px;
    color: #151515;
}

.form__button {
    text-transform: uppercase;
    background-color: #151515;
    color: #fff;
    padding: 13px 61px;
    margin: 0 auto;
}
/* =============================================== */

.blog {
    padding-bottom: 150px;
}
.container {
}
.blog__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 70px;
}
.blog__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog__item-img {
    display: block;
    margin-bottom: 30px;
}
.blog__item-title {
    font-weight: 700;
    font-size: 24px;
    flex-basis: 446px;
}
.blog__item-link {
    background-color: #06f;
    color: #fff;
    padding: 4px 20px;
}
.showmore__link {
    background-color: #151515;
    color: #fff;
    padding: 13px;
    width: 225px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
/* =============================================== */

.choose {
    padding: 100px 0 150px;
}
.container {
}
.tabs {
    margin-bottom: 70px;
}
.tabs__btn {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 80px;
}
.tabs__btn-item {
    font-weight: 700;
    font-size: 24px;
}
.tabs__btn-item--active {
    color: #06f;
}
.tabs__content {
}
.tabs__content-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 100px 40px;
    display: none;
}   
.tabs__content-item.tabs__content-item--active {
    display: grid;
}
.card {
}
.card__img {
    display: block;
}
.card__content {
    border: 1px solid #06f;
    border-top: 0;
    padding: 0 5px;
}
.card__title {
    font-weight: 700;
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.card__text {
    margin-bottom: 20px;
}
.card__price {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}
.card__link {
    display: block;
    text-transform: lowercase;
    border: 1px solid #06f;
    border-top: 0;
    color: #06f;
}
.showmore__link {
    display: block;
    background-color: #151515;
    color: #fff;
    padding: 13px;
    width: 225px;
    text-align: center;
    margin: 0 auto;
}

/* =============================================== */

.footer {
    background-color: #151515;
    color: #fff;
    padding: 50px 0 32px;
}
.container {
}
.footer__body {
}
.footer-menu__menu {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 50px;
}
.footer-menu__item {
    max-width: 270px;
}
.footer-menu__list + .footer-menu__list {
    padding-top: 20px;
}
.footer-menu__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}
.footer-menu__link {
}
.footer-menu__link:hover {
    text-decoration: underline;
}


.footer-app__list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}
.footer-app__Item {
}
.footer-app__link {
}
.footer-app__img {
}


.footer-copy__copy {
    max-width: 806px;
    margin: 0 auto 30px;
    text-align: center;
}
.footer-copy__text {
    font-size: 12px;
}


.copy-list__list {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.copy-list__item {
}
.copy-list__link {
}
.copy-list__link:hover {
    text-decoration: underline;
}

/* ============================ */

.menu__btn {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: transparent; */
}
.menu__btn span {
    height: 2px;
    padding: 5px 0;
    color: #fff;
    /* display: block; */
    /* gap: 10px; */
}

/* ==========@MEDIA================ */

@media (max-width: 1180px) {
}

@media (max-width: 1040px) {   
}
@media (max-width: 860px) {
    .menu__btn {}
}

